<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.env">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_env"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_env_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Feedback"></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.dashboard.ViewOtherListing"
            android:label="@string/title_activity_view_other_listing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.EditListing"
            android:label="@string/title_activity_edit_listing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.ViewOwnListing"
            android:label="@string/title_activity_view_own_listing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminPage"
            android:label="@string/title_activity_admin_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddListing"
            android:label="@string/title_activity_add_listing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.env.MainActivity" />
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".StartScreen"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>